:root {
    --white: hsl(0, 0%, 100%);
    --background: hsl(30, 54%, 90%);
    --text-color: hsl(30, 10%, 34%);
    --h1-color: hsl(24, 5%, 18%);
    --preparation-color: hsl(332, 51%, 32%);
    --h2-color: hsl(14, 45%, 36%);
    --preparation-background: hsl(330, 100%, 98%);
    --headings-font: 'Young Serif';
    --text-font: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
   
}

main {
    max-width: 900px;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 20px;
     min-width: 300px;
}   

.intro-img {
    width: 100%;
}

.intro-img img {
    max-width: 100%;
    border-radius: 8px;
}

h1, h2 {
    font-family: var(--headings-font);
    margin: 1rem auto;
    
}

h1 {
    color: var(--h1-color);
    font-weight: 600;
}

h2 {
    color: var(--h2-color);
    font-weight: 500;
}

p, ul, ol, table {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 14px;
    line-height: 1.5rem;
}



.preparation-time {
    background-color: var(--preparation-background);
    padding: 0.2rem 1rem 1rem;
    margin-top: 1.5rem;
}

.preparation-time h2 {
    font-family: var(--text-font);
    color: var(--preparation-color);
    font-size: 16px;
    font-weight: 700;
    margin: 1rem auto;
}

.preparation-time ul {
    padding-left: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;   
}


.preparation-time ul li {
    padding-left: 1rem;
}

.preparation-time ul li::marker {
    color: var(--preparation-color);
    font-size: 0.6rem;
}

.ingredients ul {
    margin-left: 1rem;
}

.ingredients ul li {
    padding-left: 1rem;
}

.ingredients ul li::marker {
    color: var(--h2-color);
    font-size: 0.6rem;
}


.instructions ol {
    margin-left: 1rem;
}

.instructions ol li {
    padding-left: 1rem;
}

.instructions ol li::marker {
    color: var(--h2-color);
    font-weight: bold;
    font-size: 0.9rem;
}

.line {
    background-color: var(--text-color);
    border: none;
    height: 1px;
    margin-top: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}

table tr {
    border-bottom: 1px solid rgba(186, 174, 174, 0.5);
}

table td {
    color: var(--h2-color);
    font-weight: bold;
    padding: 0.5rem;
    width: 40%;
    text-align: left;
}

table th {
    color: var(--text-color);
    font-weight: normal;
    width: 60%;
    text-align: left;
    padding-left: 1.5rem;
}

footer a {
    text-decoration: none;
    color: var(--h2-color);
}

